[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
alembic = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.13"
